<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class='container-fluid'>
      <div class='row livogis-page'>
        <div class='col-lg-2 sidebar'>
          <%= render 'layouts/navbar' %>
        </div>
        <div class='col-lg-offset-2 col-lg-10
                    col-md-12 content'>
          <h2>DRIVER TITLE</h2>
          <div class='livogis-content'>
            <%= render 'layouts/flash_messages' %>
            <%= yield %>
            <div>
              <%= link_to "Back", :back, class: %w(btn btn-primary) %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
